<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.0" id="sampleapp">
 
  <author href="http://www.florenciamincucci.com.ar"
          rim:copyright="Copyright 2012">Pennies</author>
 
  <name>Cent</name>
 
  <description>
    Registrá tus gastos.
  </description>
 
  <icon src="icons/icon-150.png"/>
 
  <rim:splash src="splash-1280x768.png"/>
  <rim:splash src="splash-768x1280.png"/>
 
  <content src="index.html" rim:allowInvokeParams="true"/>
 
  <feature id="blackberry.app">
    <param name="backgroundColor" value="0xFFFF0000" />
  </feature>
 
  <!--<access uri="http://www.somedomain.com" subdomains="true">
    <feature id="blackberry.app" required="true" version="1.0.0"/>
    <feature id="blackberry.invoke" required="true" version="1.0.0"/>
  </access>-->
 
</widget>
